* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flowerClock {
    background-image: url(Flower8.jpeg);
    height: 830px;
    background-size: contain;
}

.container--clock {
    position: absolute;
    top: 15%;
    left: 10%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: black;
    background-image: none;
    border-radius: 10px;
    color: #ffff;
    padding: 20px;
}

.btnChangeBackground {
    position: absolute;
    top: 20%;
    right: 20%;
    padding: 10px;
    border-radius: 10px;   
}

.btnSpecial {
    position: absolute;
    top: 40%;
    left: 45%;
    padding: 10px 50px;
    border-radius: 10px;
    font-size:larger;
}

.hidden {
    position: absolute;
    top: 60%;
    left: 50%;
    display: none;
}
